.slider-volume {
    padding-bottom: .2em;
}

.icon-volume {
    icon-size: 16px;
    padding-left : 1em;
}

.label-volume {
    font-size: 70%;
}

.inputmode {
    spacing: .1em;
    text-align: center;
}

.bt-inputmode, .bt-inputmode-active {
    font-size: 70%;
    padding: .2em 1em;
    border-bottom: 1px;
    border-color: transparent;
}

.bt-inputmode:hover, .bt-inputmode-active {
    border-color: #1E90FF;
}

.soundmode {
    spacing: .5em;
    text-align: center;
}

.bt-soundmode, .bt-soundmode-active {
    font-size: 70%;
    padding: 0em 1em;
    border-bottom: 1px;
    border-color: transparent;
}

.bt-soundmode:hover, .bt-soundmode-active {
    border-color: #1E90FF;
}

.bt-soundmode-plii-cinema:hover, .bt-soundmode-plii-cinema-active {
    border-color: green;
}

.bt-soundmode-stereo:hover, .bt-soundmode-stereo-active {
    border-color: red;
}

.bt-soundmode-plii-game:hover, .bt-soundmode-plii-game-active {
    border-color: blue;
}

.bt-soundmode-direct:hover, .bt-soundmode-direct-active {
    border-color: orange;
}
